name: Deploy staging site

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Navigate to repo
      run: cd $GITHUB_WORKSPACE
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install deps
      run: npm install
    - name: Build docs
      run: npm run build
    - name: Publish
      uses: cloudflare/wrangler-action@1.1.0
      with:
        apiToken: ${{ secrets.CF_STAGING_TOKEN }}
        environment: "staging"
